*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    padding: 10px;
    color: red;
}

:root {
    --bg-color: #f1f1f1;
    --text-color: #333;
    --btn-color: #333;
    --btn-text-color: #fff;
    --btn-hover-color: #000;
    --btn-hover-text-color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}8